/* You can add global styles to this file, and also import other style files */
.main_login {
	background: url(assets/img/img1.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	min-height: 100vh;
  padding: 20px;
}

.loginBox {
	max-width: 550px;
	width: 100%;
	padding: 20px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
  border-radius: 15px;
}

.hedding_logn h4 {
	font-size: 28px;
	text-transform: uppercase;
	color: var(--blue);
  font-family: "NuniB";
}
.hedding_logn {
	text-align: center;
}
.hedding_logn p {
	font-size: 16px;
	color: #777;
}